__pycache__
_old
_test
.DS_Store
.env
.env.*
.github
.idea
.ipynb_checkpoints
.pytest_cache
.svelte-kit
.turbo
.venv
**/*.db
/package
backend/data/*
build
docs
kubernetes
node_modules
uploads
venv
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
