APScheduler==3.11.2
Authlib==1.6.9
Automat==22.10.0
Markdown==3.5.2
MarkupSafe==2.1.5
PyGObject==3.48.2
PyHamcrest==2.1.0
PyJWT==2.7.0
PyMySQL==1.1.2
PyPika==0.51.1
RestrictedPython==8.1
aiocache==0.12.3
aiofiles==25.1.0
alembic==1.18.4
anthropic==0.88.0
argon2-cffi==25.1.0
asgiref==3.11.1
azure-ai-documentintelligence==1.0.2
azure-storage-blob==12.28.0
chromadb==1.5.5
configobj==5.0.8
cuda-pathfinder==1.5.0
cuda-toolkit==13.0.2
ddgs==9.12.0
defer==1.0.6
dnspython==2.6.1
docstring_parser==0.17.0
docx2txt==0.9
einops==0.8.2
et_xmlfile==2.0.0
fake-useragent==2.2.0
fasteners==0.18
faster-whisper==1.2.1
fpdf2==2.8.7
ftfy==6.3.1
google-api-python-client==2.193.0
google-auth-oauthlib==1.3.1
google-cloud-storage==3.10.1
google-genai==1.70.0
importlib_resources==6.5.2
langchain==1.2.14
ldap3==2.9.1
loguru==0.7.3
mamba==0.11.3
mdurl==0.1.2
msoffcrypto-tool==6.0.0
mypy_extensions==1.1.0
opencv-python-headless==4.13.0.92
opensearch-py==3.1.0
peewee-migrate==1.15.0
pexpect==4.9.0
pip-chill==1.0.5
ptyprocess==0.7.0
pycrdt==0.12.50
pydantic_core==2.41.5
pydub==0.25.1
pymdown-extensions==10.21.2
pypandoc==1.17
pypdf==6.9.2
python-debian==0.1.49+ubuntu2
python-jose==3.5.0
python-magic==0.4.27
python-mimeparse==2.0.0
python-pptx==1.0.2
python-socketio==5.16.1
pytokens==0.4.1
pytube==15.0.0
rank-bm25==0.2.2
rapidocr-onnxruntime==1.2.3
s3transfer==0.10.1
scikit_build_core==0.12.2
sentence-transformers==5.3.0
shapely==2.1.2
starlette-compress==1.7.0
starsessions==2.2.1
uuid_utils==0.14.1
validators==0.35.0
youtube-transcript-api==1.2.4
