# Minimal requirements for backend to run
# WIP: use this as a reference to build a minimal docker image

fastapi==0.128.5
uvicorn[standard]==0.40.0
pydantic==2.12.5
python-multipart==0.0.22
itsdangerous==2.2.0

python-socketio==5.16.1
python-jose==3.5.0
cryptography
bcrypt==5.0.0
argon2-cffi==25.1.0
PyJWT[crypto]==2.11.0
authlib==1.6.7

requests==2.32.5
aiohttp==3.13.2 # do not update to 3.13.3 - broken
async-timeout
aiocache
aiofiles
starlette-compress==1.7.0
Brotli==1.1.0
httpx[socks,http2,zstd,cli,brotli]==0.28.1
starsessions[redis]==2.2.1

sqlalchemy==2.0.46
alembic==1.18.3
peewee==3.19.0
peewee-migrate==1.14.3

pycrdt==0.12.46
redis

APScheduler==3.11.2
RestrictedPython==8.1

loguru==0.7.3
asgiref==3.11.1

mcp==1.26.0
openai

langchain==1.2.9
langchain-community==0.4.1
langchain-classic==1.0.1
langchain-text-splitters==1.1.0

fake-useragent==2.2.0

chromadb==1.4.1
black==26.1.0
pydub
chardet==5.2.0
