# SaaS / Cloud integrations core (no local ML/CV)

azure-ai-documentintelligence==1.0.2
azure-identity==1.25.0
azure-storage-blob==12.24.1

boto3==1.40.5

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos==1.70.0
google-cloud-storage==2.19.0

opensearch-py==2.8.0
