.rose-pine-dawn * {
	stroke: #d7827e !important;
}

.rose-pine-dawn .app>* {
	background-color: #faf4ed !important;
}

.rose-pine-dawn .py-2\.5.my-auto.flex.flex-col.justify-between.h-screen {
	background: #f2e9e1;
}

.rose-pine-dawn .bg-white.dark\:bg-gray-800 {
	background: #f2e9e1;
}

.rose-pine-dawn .bg-emerald-700 {
	background-color: rgb(235 188 186);
}

.rose-pine-dawn .bg-white {
	--tw-bg-opacity: 1;
	background-color: #fffaf3;
}

.rose-pine-dawn .bg-red-400 {
	--tw-bg-opacity: 1;
	background-color: rgb(255 174 174);
}

.rose-pine-dawn #chat-textarea {
	background: rgb(255 243 242 / 67%);
    margin: 0.3rem;
    padding: 0.5rem;
}

.rose-pine-dawn .bg-gradient-to-t.from-white.dark\:from-gray-800.from-40\%.pb-2 {
	background: #f2e9e1 !important;
	padding-top: 0.6rem;
}

.rose-pine-dawn .text-white.bg-gray-100.dark\:text-gray-800.dark\:bg-gray-600.disabled.transition.rounded-lg.p-1.mr-0\.5.w-7.h-7.self-center {
	background-color: #f8eeee;
	transition: background-color 0.2s ease-out linear;
}

.rose-pine-dawn .bg-black.text-white.hover\:bg-gray-900.dark\:bg-white.dark\:text-black.dark\:hover\:bg-gray-100.transition.rounded-lg.p-1.mr-0\.5.w-7.h-7.self-center {
	background-color: #286983;
	transition: background-color 0.2s ease-out linear;
}

.rose-pine-dawn .bg-black.text-white.hover\:bg-gray-900.dark\:bg-white.dark\:text-black.dark\:hover\:bg-gray-100.transition.rounded-lg.p-1.mr-0\.5.w-7.h-7.self-center>* {
	fill: rgb(235 188 186) !important;
	transition: fill 0.2s ease-out linear;
}

.rose-pine-dawn .w-full.flex.justify-between.rounded-md.px-3.py-2.hover\:bg-gray-900.bg-gray-900.transition.whitespace-nowrap.text-ellipsis {
	background-color: #56526e;
	font-weight: bold;
}

.rose-pine-dawn .hover\:bg-gray-900:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(152 147 165 / var(--tw-bg-opacity));
}

.rose-pine-dawn .text-xs.text-gray-700.uppercase.bg-gray-50.dark\:bg-gray-700.dark\:text-gray-400 {
	background-color: rgb(253 231 231);
}

.rose-pine-dawn .scrollbar-hidden.relative.overflow-x-auto.whitespace-nowrap.svelte-3g4avz {
	border-radius: 16px 16px 0 0;
}

.rose-pine-dawn .base.enter.svelte-ug60r4 {
	background-color: #286983;
}

.rose-pine-dawn .message.svelte-1nauejd {
	color: #e0def4 !important;
}

.rose-pine-dawn #dropdownDots {
	background-color: #ffffff;
}

.rose-pine-dawn .flex.py-2\.5.px-3\.5.w-full.hover\:bg-gray-800.transition:hover {
	background: #f8eeee;
}

.rose-pine-dawn #dropdownDots {
	background-color: #ffffff;
}

.rose-pine-dawn .flex.py-2\.5.px-3\.5.w-full.hover\:bg-gray-800.transition:hover {
	background: #f8eeee;
}

.rose-pine-dawn .m-auto.rounded-xl.max-w-full.w-\[40rem\].mx-2.bg-gray-50.dark\:bg-gray-900.shadow-3xl {
	background-color: #f2e9e1;
}

.rose-pine-dawn .w-full.rounded.p-4.text-sm.dark\:text-gray-300.dark\:bg-gray-800.outline-none.resize-none {
	background-color: #f8eeee;
}

.rose-pine-dawn .w-full.rounded.py-2.px-4.text-sm.dark\:text-gray-300.dark\:bg-gray-800.outline-none.svelte-1vx7r9s {
	background-color: #f8eeee;
}

.rose-pine-dawn .px-2\.5.py-2\.5.min-w-fit.rounded-lg.flex-1.md\:flex-none.flex.text-right.transition.bg-gray-200.dark\:bg-gray-700 {
	background-color: #ffffff;
}

.rose-pine-dawn .px-2\.5.py-2\.5.min-w-fit.rounded-lg.flex-1.md\:flex-none.flex.text-right.transition.hover\:bg-gray-300.dark\:hover\:bg-gray-800:hover {
	background-color: #f8eeee;
}

.rose-pine-dawn .px-4.py-2.bg-emerald-600.hover\:bg-emerald-700.text-gray-100.transition.rounded {
	background-color: rgb(235 188 186);
}

.rose-pine-dawn #chat-search>* {
	background-color: #ffffff !important;
}

.rose-pine-dawn .svelte-1ee93ns {
	--primary: #ffd2d0 !important;
	--secondary: #fffaf3 !important;
}

.rose-pine-dawn .svelte-11kvm4p {
	--primary: #56949f !important;
	--secondary: #fffaf3 !important;
}

.rose-pine-dawn .rounded-r-xl {
	border-radius: 0 0.75rem 0.75rem 0;
}

.rose-pine-dawn [data-rich-colors=true] [data-sonner-toast][data-type=success],
[data-rich-colors=true] [data-sonner-toast][data-type=success] [data-close-button] {
	background: hsl(2.45deg 55.06% 82.55%);
	border-color: hsl(0deg 23.98% 70.06%);
	color: hsl(0deg 0% 100%);
}

.rose-pine-dawn .w-4 {
	color: #fff;
}

.rose-pine-dawn .w-5 {
	color: #fff;
}

.rose-pine-dawn .w-3\.5 {
	color: #fff;
}

.rose-pine-dawn .font-semibold {
	color: #111827ba;
}

.rose-pine-dawn .text-gray-800 {
	color: #111827ba;
}

.rose-pine-dawn .font-bold {
	color: #111827ba;
}

.rose-pine-dawn .font-medium {
	color: #111827ba;
}

.rose-pine-dawn .text-sm {
	color: #111827ba;
}

.rose-pine-dawn .w-60 {
	width: 13rem;
}

.rose-pine-dawn .data-\[selected\]\:hover\:bg-black:hover[data-selected] {
	background-color: #faf4ed;
}

.rose-pine-dawn .bg-emerald-600 {
	background-color: rgb(235 188 186);
}

.rose-pine-dawn .data-\[selected\]\:bg-black[data-selected] {
	background-color: #faf4ed;
}

.rose-pine-dawn .bg-gray-100 {
	background-color: rgb(255 242 242);
}

.rose-pine-dawn .px-2\.5.py-2\.5.min-w-fit.rounded-lg.flex-1.md\:flex-none.flex.text-right.transition.bg-gray-200.dark\:bg-gray-700 {
	background-color: #ffffff;
}

.rose-pine-dawn .bg-gray-50 {
	background-color: #ffffff;
}

.rose-pine-dawn .bg-gray-200 {
	background-color: rgb(255 249 249);
}

.rose-pine-dawn .from-gray-100 {
	--tw-gradient-from: rgb(255 249 249);
}

.rose-pine-dawn .hover\:bg-gray-100:hover {
	background-color: rgb(255 249 249);
}

.rose-pine-dawn .group:hover .group-hover\:bg-gray-100 {
	background-color: rgb(255 249 249);
}

.rose-pine-dawn .group:hover .group-hover\:from-gray-200:hover {
	background-color: rgb(255 249 249);
}

.rose-pine-dawn .hover\:bg-gray-900:hover {
	background-color: rgb(255 249 249);
}

.rose-pine-dawn .bg-black {
    background-color: rgb(255 249 249);
}

.rose-pine-dawn .bg-gray-900 {
	background-color: rgb(255 207 205);
}

.rose-pine-dawn .size-4 {
    color: #cf9191;
}

.rose-pine-dawn .bg-green-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(215 130 126);
}

.rose-pine-dawn .bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(215 130 126);
}

.rose-pine-dawn .bg-gray-200 {
    background-color: rgb(221 221 221);
}

.rose-pine-dawn .from-gray-200 {
    --tw-gradient-from: rgb(235 188 186);
}

.rose-pine-dawn .bg-gray-50\/90 {
    background-color: #f2e9e1;
}
/* .rose-pine-dawn .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(235 188 186 / 39%);
}
.rose-pine-dawn .app>* {
    background-color: rgb(235 188 186 / 17%) !important;
}

.rose-pine-dawn #nav {
    background-color: rgb(255 238 238);
}

.rose-pine-dawn .py-2\.5.my-auto.flex.flex-col.justify-between.h-screen {
    background: rgb(255 250 250);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255 250 250);
} */