@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
  
  body {
    @apply bg-black text-white;
  }

  code {
    font-family: 'Roboto Mono', monospace;
  }
}

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --font-poppins: 'Poppins', sans-serif;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --font-urbanist: 'Urbanist', sans-serif;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.dark body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .btn {
    @apply dark:bg-white dark:text-black bg-black text-white hover:bg-gradient-to-r hover:from-rose hover:to-[#CD0003] dark:hover:bg-gradient-to-r dark:hover:from-rose dark:hover:to-[#CD0003] px-9 md:px-[50px] py-6 text-nowrap md:py-[30px] font-urbanist text-base md:text-xl font-bold leading-[20px] rounded-full uppercase transition-all duration-300 hover:text-white
  }
}