/*
PALLETTE
White: #ffffff
Extra Light Gray: #f7f7f7
Light Gray: #ededed
Gray: #dfdfdf
Dark Gray: #9b9b9b
Extra Dark Gray: #727272
Neon green base: #77F2A1
Blue light: #C9E2FF
Blue base: #1E85FF
Blue dark: #021C4F
Light green: #00D69D
Green base: #00BC8B
Light red: #FF6A71
Red base: #E90000
Light Orange: #FFB800
Orange base: #FF9600
*/

/* Table CSS START */
.nbg__table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	color: white;
}

.nbg__table th,
.nbg__table td {
	padding: 12px 15px;
	text-align: left;
	color: white;
}

.nbg__table th {
	color: white;
}

.nbg__table tbody tr:nth-child(even) {
	background-color: #163061;
	color: white;
}

.nbg__table tbody tr:nth-child(odd) {
	background-color: #021c4f;
	color: white;
}

.nbg__table tbody tr:hover {
	background-color: #00bc8b;
}

/* Responsive Table Styles */
@media screen and (max-width: 768px) {
	.nbg__table {
		border: 0;
		overflow-x: auto;
		white-space: nowrap;

		margin-left: auto;
		margin-right: auto;
		width: 350px;
	}

	.nbg__table tr {
		margin-bottom: 10px;
	}

	.nbg__table td {
		text-align: left;
		font-size: 14px;
		position: relative;
	}

	.nbg__table td::before {
		content: attr(data-label);
		position: absolute;
		left: 10px;
		font-weight: bold;
	}

	.nbg__table td:first-child {
		padding-top: 20px;
	}
}

/* Specific Classes for Header and Cells */
.nbg__table .nbg__header {
	background-color: #163061;
	cursor: default;
}

.nbg__table .nbg__header-cell {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

.nbg__table .nbg__cell {
	font-size: 14px;
	color: white;
}

/*
 Name: .nbg__table Description: Basic table class, sets the width, border-collapse, and margin properties for the table. | Name: .nbg__table th, .nbg__table td Description: Styling for table header and data cells, including padding, text alignment, and border properties. | Name: .nbg__table th Description: Specifies the background color and text color for the table headers. | Name: .nbg__table tr:nth-child(even) Description: Applies a background color to even rows in the table for alternating row colors. | Name: .nbg__table tr:hover Description: Adds a hover effect with a background color change when hovering over any row in the table. | Name: .nbg__header Description: Used for the header row of the table, typically applying a background color to the table header. | Name: .nbg__header-cell Description: Applied to individual header cells, styling the font size, weight, and color for header text. | Name: .nbg__cell Description: Applied to the data cells within the table, setting the font size and color. | Name: @media screen and (max-width: 768px) Description: Media query that makes the table responsive by adjusting the table layout for smaller screens (less than 768px). | Name: .nbg__table td::before Description: This pseudo-element is used for adding custom content (e.g., column headers) in front of each table cell when viewed on smaller screens. | Name: .nbg__table td:first-child Description: Applies padding to the first child of each row for extra spacing on mobile viewports. | Name: .nbg__toggle Description: Styling for the toggle button (used in status cells), including dimensions, background color, and rounded corners. | Name: .nbg__toggle-inner Description: Inner part of the toggle button that is responsible for the circular switch effect. | Name: .nbg__toggle.active Description: Applied to the toggle button when it is in the 'active' state (usually indicating 'SUBSCRIBE'). | Name: .nbg__toggle.active .nbg__toggle-inner Description: Moves the toggle button’s inner circle to the other side when in the active state. | Name: .nbg__toggle-text Description: Applied to the text next to the toggle button, used for labeling (e.g., 'SUBSCRIBE' or 'UNSUBSCRIBE'). | Name: .nbg__status-cell Description: Applied to the status column cells, wrapping the toggle button and its associated text. | Name: .nbg__status-cell .nbg__toggle Description: Applies margin to the toggle button within the status cell, ensuring proper spacing between the button and text. | Name: .nbg__status-cell .nbg__toggle-text Description: Styles the text next to the toggle button, ensuring proper alignment and font style.
 */

/* Table CSS END */

/*
*/

/* Card CSS START */

/* API Card CSS START */

.nbg__api__card {
	background-color: #2a406b;
	border-radius: 12px;
	padding: 16px;
	color: #ffffff;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	height: 330px;
	width: 300px;
	margin: 12px;
}

.nbg__api__card .nbg__api__card__header {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.nbg__api__card .nbg__category {
	color: #2a3b57;
	background-color: #c9e2ff;
	padding: 4px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	width: 50%;
	display: inline-block;
}

.nbg__api__card .nbg__live__data {
	background-color: #021c4f;
	color: #4cd1b0;
	padding: 4px;
	font-size: 12px;
	border-radius: 4px;
	border: 1px solid #000;
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nbg__circle {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #4cd1b0;
	border-radius: 50%;
	margin-right: 4px;
}

.nbg__api__card .nbg__api__card__title {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 12px;
	color: #ffffff;
}

.nbg__api__card .nbg__api__card__text {
	font-size: 18px;
	color: #c9e2ff;
	margin-bottom: 16px;
}

.nbg__api__card .nbg__api__card__buttons {
	display: flex;
	justify-content: space-between;
}

.nbg__api__card .nbg__cta__arrow {
	background-color: transparent;
	color: #4cd1b0;
	padding: 8px 12px;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	transition: background-color 0.3s ease;
}

.nbg__api__card .nbg__cta__arrow:hover {
	background-color: #4cd1b0;
	color: #fff;
}

.nbg__api__card .nbg__cta__rounded {
	background-color: transparent;
	border: 1px solid #4cd1b0;
	color: #4cd1b0;
	padding: 10px 20px;
	font-size: 14px;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	transition: background-color 0.3s ease;
}

.nbg__api__card .nbg__cta__rounded:hover {
	background-color: #45b18f;
}

@media screen and (max-width: 768px) {
	.nbg__api__card {
		padding: 15px;
		height: auto;
	}

	.nbg__api__card .nbg__api__card__title {
		font-size: 18px;
	}

	.nbg__api__card .nbg__api__card__text {
		font-size: 12px;
	}

	.nbg__api__card .nbg__cta__arrow,
	.nbg__api__card .nbg__cta__rounded {
		width: 100%;
		margin-bottom: 10px;
	}

	.nbg__api__card .nbg__live__data {
		top: 5px;
		right: 5px;
	}
}

/*
Name: .nbg__api__card Description: The main container of the card with background color, border radius, padding, shadow, and flex layout. | Name: .nbg__api__card__header Description: A flex container for the category and live data section at the top of the card. | Name: .nbg__category Description: Styles for the category text (e.g., "Machine learning"). | Name: .nbg__live__data Description: The "LIVE DATA" indicator styled with a blue background, positioned on the top right. | Name: .nbg__circle Description: Green circle before the "Live Data" | Name: .nbg__api__card__title Description: The main title of the card, styled with larger font size and bold weight. | Name: .nbg__api__card__text Description: The description text inside the card. | Name: .nbg__api__card__buttons Description: A flex container holding the call-to-action buttons (on the left and right). | Name: .nbg__cta__arrow Description: The CTA button with the word "Docs" followed by a right arrow. | Name: .nbg__cta__rounded Description: The rounded CTA button styled for the "Learn more" button.
*/

/* API Card CSS END */

/* Support Card CSS START */

/* Basic Card Styling */
.nbg__support__card {
	background-color: transparent;
	padding: 12px;
	color: #ffffff;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 245px;
	width: 245px;
}

/* Card Title */
.nbg__support__card .nbg__support__card__title {
	font-size: 24px;
	font-weight: 700;
	margin: 0;
	color: #ffffff;
	margin-bottom: 12px;
}

/* Card Description */
.nbg__support__card .nbg__support__card__text {
	font-size: 18px;
	color: #c9e2ff;
	margin-bottom: 16px;
}

/* Card Button */
.nbg__support__card .nbg__support__cta__arrow {
	background-color: transparent;
	color: #4cd1b0;
	border: 1px solid #4cd1b0;
	padding: 8px 12px;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	transition: background-color 0.3s ease;
}

.nbg__support__card .nbg__support__cta__arrow:hover {
	background-color: #4cd1b0;
	color: #fff;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
	.nbg__support__card {
		padding: 15px;
		height: auto;
	}

	.nbg__support__card .nbg__support__card__title {
		font-size: 20px;
	}

	.nbg__support__card .nbg__support__card__text {
		font-size: 12px;
	}

	.nbg__support__card .nbg__support__cta__arrow {
		width: 100%;
	}
}

/*
Name: .nbg__support__card Description: The main container of the card with background color, border radius, padding, shadow, and flex layout. | Name: .nbg__support__card__title Description: The title of the card, styled with larger font size, bold weight, and margin at the bottom. | Name: .nbg__support__card__text Description: The description text inside the card. | Name: .nbg__support__cta__arrow Description: The CTA button with a right arrow symbol, styled for interaction.
*/

/* Support Card CSS END */

/* Blog Card CSS START */

.nbg__blog__card {
	background-color: #2a3b57;
	border-radius: 8px;
	padding: 24px;
	color: #ffffff;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 284px;
	width: 745px;
}

.nbg__blog__card .nbg__blog__tags {
	display: flex;
	flex-wrap: wrap;
}

.nbg__blog__card .nbg__blog__tags .nbg__blog__tag {
	background-color: #1e85ff;
	border-radius: 8px;
	color: #ffffff;
	padding: 4px 8px;
	font-size: 14px;
	width: auto;
	margin-right: 8px;
	display: inline-block;
}

.nbg__blog__card .nbg__blog__author {
	font-size: 14px;
	color: #c9e2ff;
	margin-bottom: 8px;
	margin-top: 16px;
}

.nbg__blog__card .nbg__blog__title {
	font-size: 32px;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 8px;
}

.nbg__blog__card .nbg__blog__description {
	font-size: 18px;
	color: #e0e0e0;
	margin-bottom: 16px;
}

.nbg__blog__card .nbg__blog__cta__button {
	background-color: #4cd1b0;
	color: #000;
	border: none;
	padding: 8px 24px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 24px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	transition: background-color 0.3s ease;
	width: 184px;
	height: 40px;
}

.nbg__blog__card .nbg__blog__cta__button:hover {
	background-color: #45b18f;
}

@media screen and (max-width: 768px) {
	.nbg__blog__card {
		padding: 24px;
		height: 344px;
		width: 288px;
	}

	.nbg__blog__card .nbg__blog__title {
		font-size: 18px;
	}

	.nbg__blog__card .nbg__blog__description {
		font-size: 12px;
	}

	.nbg__blog__card__footer {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.nbg__blog__card .nbg__blog__card__footer .nbg__blog__cta__button {
		width: 100%;
	}
}

/*
Name: .nbg__blog__card Description: Main card container with background color, border-radius, padding, shadow, and layout. |Name: .nbg__blog__tags Description: Put the tags in one line horizontally | Name: .nbg__blog__tag Description: Styling for the tags (e.g., "Articles," "Artificial Intelligence"), with background color, padding, and text formatting. | Name: .nbg__blog__tag.secondary Description: Additional styling for the secondary tag, like "Artificial Intelligence," to apply a different background color. | Name: .nbg__blog__author Description: Author's name (e.g., "by Lampros Moussellis") styled with smaller, lighter text. | Name: .nbg__blog__title Description: Title of the blog post with larger font size and bold weight. | Name: .nbg__blog__description Description: Short description of the blog post content, styled with a smaller font size. | Name: nbg__blog__card__footer Description: the footer of the card to be in the center | Name: .nbg__blog__cta__button Description: The "Read more" button, styled with background color, padding, border-radius, and hover effect. | Name: @media screen and (max-width: 768px) Description: Adjusts the layout for smaller screens (e.g., reduces padding, font size, and makes the button full-width).
*/

/* Blog Card CSS END */

/* Step Card CSS START */

.nbg__step__card {
	background-color: #2a3b57;
	color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	text-align: center; /* Default to center alignment */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	max-width: 250px;
	margin: 10px;
}

.nbg__step__card__left {
	text-align: left;
}

.nbg__step__card__number {
	background-color: transparent;
	color: #4cd1b0;
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 15px;
}

.nbg__step__card__description {
	font-size: 18px;
	color: #ffffff;
}

@media screen and (max-width: 768px) {
	.nbg__step__card {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
		padding: 15px;
		height: auto;
	}

	.nbg__step__card__number {
		width: 50px;
		height: 50px;
		font-size: 28px;
	}

	.nbg__step__card__description {
		font-size: 12px;
	}
}

/*
Name: .nbg__step__card Description: Basic styling for the step card, with padding, background color, border-radius, text alignment, and flex layout. | Name: .nbg__step__card__left Description: Applies left alignment to the card content. | Name: .nbg__step__card__number Description: Styles for the step number, creating a circle with background color and center-aligned text. | Name: .nbg__step__card__description Description: Styling for the description text inside the card. | Name: @media screen and (max-width: 768px) Description: Adjusts the card’s layout for smaller screen sizes, including the number's size, font size of the description, and card padding.
*/

/* Step Card CSS END */

/* Feature Card CSS START */

.nbg__feature__card {
	background-color: #2a3b57;
	color: white;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 350px;
	margin: 10px;
}

.nbg__feature__card__title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 15px;
}

.nbg__feature__card__button {
	background-color: transparent;
	color: #4cd1b0;
	border: 2px solid #4cd1b0;
	padding: 8px 16px;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	transition: background-color 0.3s ease;
}

.nbg__feature__card__button:hover {
	background-color: #4cd1b0;
	color: white;
}

.nbg__feature__card__description {
	font-size: 14px;
	color: #e0e0e0;
	margin-top: 15px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
	.nbg__feature__card {
		padding: 15px;
		max-width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	.nbg__feature__card__title {
		font-size: 20px;
	}

	.nbg__feature__card__button {
		width: 100%;
		padding: 10px;
		font-size: 16px;
	}

	.nbg__feature__card__description {
		font-size: 12px;
	}
}

/*
  Name: .nbg__feature__card Description: This is the container for the feature card, which includes padding, background color, border-radius, shadow, and width properties. | Name: .nbg__feature__card__title Description: Styles for the title of the card, including font size, weight, and margin. | Name: .nbg__feature__card__button Description: Styling for the button within the card (e.g., "Account Information"), with transparent background, border, and hover effect. | Name: .nbg__feature__card__description Description: Description of the feature card, styled with a smaller font size and lighter text color. | Name: @media screen and (max-width: 768px) Description: Adjustments for smaller screen sizes, including font size, padding, and button width for better readability and usability on mobile devices. The CTA is between the title and the description.
  */

/* Feature Card CSS END */

/* Advantage Card CSS START */

/* Advantage Card Styling */
.nbg__advantage__card {
	background-color: #ffffff;
	color: #2a3b57;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
	margin: 20px;
}

.nbg__advantage__card__title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 15px;
}

.nbg__advantage__card__tag {
	background-color: #4cd1b0;
	color: white;
	padding: 8px 15px;
	border-radius: 20px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 15px;
	display: inline-block;
}

.nbg__advantage__card__description {
	font-size: 14px;
	color: #4a6a91;
	margin-bottom: 20px;
}

.nbg__advantage__card__list {
	list-style-type: decimal;
	margin-left: 20px;
}

.nbg__advantage__card__list-item {
	font-size: 14px;
	color: #4a6a91;
	margin-bottom: 8px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
	.nbg__advantage__card {
		padding: 15px;
		max-width: 100%;
	}

	.nbg__advantage__card__title {
		font-size: 20px;
	}

	.nbg__advantage__card__tag {
		font-size: 12px;
		padding: 6px 12px;
	}

	.nbg__advantage__card__description {
		font-size: 12px;
	}

	.nbg__advantage__card__list-item {
		font-size: 12px;
	}
}

/*
  Name: .nbg__advantage__card Description: The main container for the card, with background color, padding, border-radius, shadow, and margin. | Name: .nbg__advantage__card__title Description: The title of the card styled with a larger font size and bold weight. | Name: .nbg__advantage__card__tag Description: The tag label (e.g., "PSD2 Directive") that is styled with a background color, border radius, and uppercase text. | Name: .nbg__advantage__card__description Description: The descriptive text inside the card, with a smaller font size and different color to distinguish it from the title. | Name: .nbg__advantage__card__list Description: A styled list to display services with a decimal style. | Name: .nbg__advantage__card__list-item Description: Each list item, styled with a font size and spacing. | Name: @media screen and (max-width: 768px) Description: This section adjusts the card layout for smaller screens, such as reducing padding, adjusting font size, and ensuring better legibility and layout for mobile devices.
  */

/* Advantage Card CSS END */

/* Card CSS END */

/* Button CSS START */

/* Basic Button Styling */
.nbg__button {
	padding: 8px 24px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 24px;
	cursor: pointer;
	transition:
		background-color 0.3s ease,
		border 0.3s ease;
	text-align: center;
	display: inline-flex;
	align-items: center;
}

/* Primary Buttons */
.nbg__button__primary {
	background-color: #4cd1b0;
	color: white;
	border: none;
}
.nbg__button__primary__no__fill {
	background-color: transparent;
	color: #4cd1b0;
	border: none;
}

.nbg__button__primary:hover {
	background-color: #45b18f;
}

.nbg__button__primary .nbg__button__icon {
	margin-right: 8px;
}

/* Secondary Buttons (only for dark background) */
.nbg__button__secondary {
	background-color: #4a6a91;
	color: white;
	border: none;
}
.nbg__button__secondary__no__fill {
	background-color: transparent;
	color: #4a6a91;
	border: none;
}

.nbg__button__secondary:hover {
	background-color: #2a3b57;
}

.nbg__button__secondary .nbg__button__icon {
	margin-right: 8px;
}

/* Danger Buttons */
.nbg__button__danger {
	background-color: #f44336;
	color: white;
	border: none;
}

.nbg__button__danger:hover {
	background-color: #d32f2f;
}

/* Button with Icon */
.nbg__button__icon {
	background-color: transparent;
	color: #4cd1b0;
	border: 1px solid #4cd1b0;
}

.nbg__button__icon:hover {
	background-color: #4cd1b0;
	color: white;
}

.nbg__button__icon .nbg__button__icon {
	margin-right: 8px;
}

/* Text Link Buttons */
.nbg__button__text__link {
	background-color: transparent;
	color: #4cd1b0;
	border: none;
	text-decoration: underline;
}

.nbg__button__text__link:hover {
	color: #45b18f;
}

/* Copy Button */
.nbg__button__copy {
	background-color: #4a6a91;
	color: white;
	border: none;
}

.nbg__button__copy:hover {
	background-color: #2a3b57;
}

.nbg__button__copy .nbg__button__icon {
	margin-right: 8px;
}

/* API Sidebar Buttons */
.nbg__button__sidebar {
	background-color: #2a3b57;
	color: white;
	border: none;
	width: 100%;
	padding: 12px;
	text-align: left;
}

.nbg__button__sidebar:hover {
	background-color: #4a6a91;
}

.nbg__button__sidebar .nbg__button__icon {
	margin-right: 12px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
	.nbg__button {
		padding: 8px 14px;
		font-size: 12px;
	}

	.nbg__button__sidebar {
		width: 100%;
		padding: 10px;
	}

	.nbg__button__primary,
	.nbg__button__secondary,
	.nbg__button__danger,
	.nbg__button__copy {
		width: auto;
		margin-bottom: 10px;
	}

	.nbg__button__icon {
		width: auto;
		padding: 8px 16px;
	}

	.nbg__button__text__link {
		font-size: 14px;
		padding: 6px 12px;
	}
}

/*
Name: .nbg__button Description: Base class for all buttons, defining common padding, font size, alignment, and transitions. | Name: .nbg__button__primary Description: Primary button style, green background with hover effect. | Name: .nbg__button__primary__no__fill Description: Primary button style, transparent background green letters with hover effect. | Name: .nbg__button__secondary Description: Secondary button style, blue background for dark themes with hover effect. | Name: .nbg__button__secondary__no__fill Description: Secondary button style, transparent background with blue letters with hover effect. | Name: .nbg__button__danger Description: Danger button style, red background used for delete actions with hover effect. | Name: .nbg__button__icon Description: Icon button style with a transparent background and border, commonly used for buttons with an icon. | Name: .nbg__button__text__link Description: Text link style with an underline, commonly used for hyperlinks. | Name: .nbg__button__copy Description: Copy action button with a dark background and an icon. | Name: .nbg__button__sidebar Description: Sidebar button style, typically used for sidebar navigation with full width and left-aligned text.
*/

/* Button CSS END */

/* Headings CSS START */

/* Typography */
.nbg__header__xl {
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	font-size: 40px;
}

.nbg__header__lg {
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	font-size: 32px;
}

.nbg__header {
	font-family: 'Work Sans', sans-serif;
	font-weight: regular;
	font-size: 32px;
}

.nbg__text__xl {
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	font-size: 24px;
}

.nbg__text__lg {
	font-family: 'Manrope', sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.nbg__text__base {
	font-family: 'Manrope', sans-serif;
	font-weight: regular;
	font-size: 18px;
}

.nbg__text__sm {
	font-family: 'Work Sans', sans-serif;
	font-weight: regular;
	font-size: 14px;
}

.nbg__text__xs {
	font-family: 'Work Sans', sans-serif;
	font-weight: regular;
	font-size: 12px;
}

.nbg__text__xs__code {
	font-family: 'Fira Code', monospace;
	font-weight: regular;
	font-size: 12px;
}

/*
Name: .nbg__header__xl Description: Header XL style, bold, 40px font size using Work Sans. | Name: .nbg__header__lg Description: Header LG style, bold, 32px font size using Work Sans. | Name: .nbg__header Description: Default header style, regular weight, 32px font size using Work Sans. | Name: .nbg__text__xl Description: Large text style, bold, 24px font size using Work Sans. | Name: .nbg__text__lg Description: Large text style, bold, 18px font size using Manrope. | Name: .nbg__text__base Description: Base text style, regular weight, 18px font size using Manrope. | Name: .nbg__text__sm Description: Small text style, regular weight, 14px font size using Work Sans. | Name: .nbg__text__xs Description: Extra small text style, regular weight, 12px font size using Work Sans. | Name: .nbg__text__xs__code Description: Extra small code block style, regular weight, 12px font size using Fira Code.
*/

/* Headings CSS END */
