@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer base {

    html,
    pre {
        font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Vazirmatn', ui-sans-serif, system-ui,
            'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif, 'Helvetica Neue', Arial,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    pre {
        white-space: pre-wrap;
    }

    button {
        @apply cursor-pointer;
    }

    input::placeholder,
    textarea::placeholder {
        color: theme(--color-gray-400);
    }
}

@custom-variant hover (&:hover);


.bg-circle {
    background-color: #F9F9FF;
    background-image: url('/static/bg-circles.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

html.dark .bg-circle {
    background-color: #1A1C21;
}

.decorative-image-top {
    position: absolute;
    top: 70px;
    left: 0;
    width: 407px;
    height: 248px;
    background-image: url('./top-left.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 50px 50px 0;
    opacity: 0.8;
    transition: all 0.3s ease;
    display: none;
}

@media (min-width: 768px) {
    .decorative-image-top {
        display: block;
    }
}

body.dark .decorative-image-top {
    opacity: 1;
}

.decorative-image-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 250px;
    background-image: url('./bottom-right.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px 0 0 0;
    opacity: 0.7;
    transition: all 0.3s ease;
    display: none;
}

@media (min-width: 768px) {
    .decorative-image-bottom {
        display: block;
    }
}

body.dark .decorative-image-bottom {
    opacity: 1;
}



.bg-surface {
    background: linear-gradient(288deg, rgba(255, 255, 255, 0.20) 84.56%, rgba(255, 255, 255, 0.11) 109.37%), radial-gradient(82.69% 65.48% at 72.6% 34.85%, rgba(255, 109, 193, 0.20) 0%, rgba(255, 109, 193, 0.00) 100%), radial-gradient(74.08% 56.97% at 50% 64.75%, rgba(0, 229, 255, 0.17) 0%, rgba(0, 229, 255, 0.00) 100%), var(--neutrals-white, #FFF);
    background-color: #eceef1;
    /* fallback */
    position: relative;
    overflow: clip;
}


.bg-login {
    background-size: cover;
    height: 100vh;
    background-position: center;
}